@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css');

html,
body {
    max-width: 520px;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
    overflow: scroll;
}

html {
    background-color: #292b37;
}

body {
    margin-top: 20px;
    background-color: #fec200;
    border-radius: 15px;

    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
        'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
